body{
	font-size: 16px;
	font-family: 'Anton', sans-serif;
	font-weight: 300;
}

*, *::before, *::after{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

img{
	max-width: 100%;
}


/*--layout--*/
    body{
	    display: grid;
	    grid-template-areas: 
	        "fejlec"
            "kontent"
	        "lablec"
	    ;   
	    grid-template-rows: max-content 1fr max-content; 
	    min-height: 100vh;
    }
    header{
    	grid-area: fejlec;
    }
    main{
    	grid-area: kontent;
    }
    footer{
    	grid-area: lablec;
    }  
/*--layout_end--*/

/*--azonos_header--*/
    header{
    	position: relative;
    	background-color: #aecfc7;
    	line-height: 2rem;
    	font-size: 1.2rem;
    	text-align: right;
    	padding: 1rem 2rem;
    }
    .menu{
    	display: inline-block;
    	cursor: pointer;
    	background-color: #001166;
    	color: #ffffff;
    	width: 5rem;
    	text-align: center;
    	border-radius: .5rem;
    	user-select: none;
        letter-spacing: 3px;  
    }
    .menu:hover{
    	-webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
     box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    }
    .header_name{
    	
    	display: inline-block;
    	background-color: #001166;
    	color: #ffffff;
        text-align: center;
        border-radius: .5rem;
        user-select: none;
        min-width: min-content;
        padding: 0.5rem 1rem;
        letter-spacing: 3px;	
    }
    .header_jobb{
    	display: inline-block;
    	margin-top: .4rem;
    }
    .header_bal{
        margin-top: .4rem;
    	float: left;
    	text-align: left;
    	min-width: min-content;
    	
    }
/*--azonos_header_end--*/

/*--lenyíló_menü--*/
	#lenyilo_menu{
		position: absolute;
		right: 1rem;
		top: 4rem;
		display: none;
		border: 6px solid black;
		border-radius: 8px;
		text-align: left;
		-webkit-box-shadow: 13px 7px 19px 5px #000000; 
        box-shadow: 13px 7px 19px 5px #000000;
        max-height: max-content;
        overflow: hidden;

	}
	#lenyilo_menu.latszodik{
		display: block;

	}
	.lenyilo_almenu{
		background-color: #95adac;
		color: black;
		padding-left: 1rem;
		padding-right: 1rem;
		line-height: 3rem;
		cursor: pointer;
		user-select: none;

	}
	.lenyilo_almenu img{
		height: 1.5rem;
		padding-right: .5rem;
		transform: translateY(.15rem);
	}
	.lenyilo_almenu:hover{
		background-color: white;

	}
	header a{
		text-decoration: none;
		color: black;
	}
/*--lenyíló_menü_end--*/

/*--main_fo--*/
    main.felirat{
        display: grid;
        grid-template-rows: minmax(1rem,1fr) max-content minmax(1rem,1fr);
        grid-template-columns: minmax(1rem,1fr) minmax(288px,584px) minmax(1rem,1fr);
    }
    .center_box{
        grid-row: 2/3;
        grid-column: 2/3;
        font-size: 4rem;
        color: white;
        text-align: center;
        letter-spacing: 3px;
        user-select: none;
    }   
/*--main_fo_end--*/

/*--azonos_footer--*/
    footer{
        display: inline-block;
        background-color: #aecfc7;
        text-align: center;
        padding: 1rem 2rem;
        max-height: min-content;

    }
    #logo1 img{
        display: inline-block;
        height: 2.2rem;
        float: left;
        cursor: pointer;
    }
    #logo2 img{
        display: inline-block;
        height: 1.8rem;
        float: right;
        cursor: pointer;
    }
    #elerhetosegek{
        display: inline-block;
        text-align: center;
        text-decoration: underline;
        letter-spacing: 3px;
        font-size: 1.5rem;
        user-select: none;
    }
/*--azonos_footer_end--*/

/*--bemutatkozas_main--*/
    .bemutatkozo{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
        box-sizing: border-box;
        grid-gap: 5%;
        margin: 5rem 10%;
    }
    .card{
        display: block;
        background-color: #aecfc7;
        border-radius: .5rem;
        padding: 1rem;
        letter-spacing: 0.05rem;
    }

    img{
        max-width: 100%;
    }
    .card img{
        border-radius: .5rem;
        min-width: 10%;
    }    
/*--bemutatkozas_main_end--*/

/*--erdeklodes_main--*/
    .erdeklodes{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
        box-sizing: border-box;
        grid-gap: 4rem;
        margin: 5rem 10%;
    }
    .card{
        display: block;
        text-align: center;
        background-color: #aecfc7;
        border-radius: .5rem;
        padding: 1rem;
        letter-spacing: 0.05rem;
    }
    img{
        max-width: 100%;
    }
    .card img{
        border-radius: .5rem;
        min-width: 10%;
        max-width: 100%;
       
    }     
/*--erdeklodes_main_end--*/




